html {
    background-color: white;
    font-family: Helvetica, sans-serif;
}

h1 {
    color: #618264;
    text-align: center;
}

.main-menu {
    text-decoration: none;
    background-color: #618264;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.main-menu li {
    text-decoration: none;
    margin-right: 10px;
}

.page-name {
    color: #79AC78;
    text-align: center;
}

.description {
    text-align: justify;
    color:#142215;
    padding-left:20%;
    padding-right: 20%;
}

.box {
    align-items: center;
    padding: 5%;
}

.box > p {
    color: #142215;
}

.icon {
    height: 200px;
    width: 200px;
    border: 3px white;
    float:left;
    padding-right: 20px;
    border-radius: 10% ;
}

.column1 {
    float: left;
    width: 30%;
    height: 120vh;
    background-color: #142215;
    color: white;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%
}

.column2 {
    float:right;
    width: 50%;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    color : #142215;
}

.main-image {
    width: 200px;
    padding: 2%;
}

.sub-image {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.tip {
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    color:#142215;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  

footer {
    margin-top: auto;
    background-color: #618264;
    text-align: center;
    color: white;
    padding: 1%;
}
